<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/styles/registrar_llamada.css">
    <title>Registrar Llamada</title>
</head>
<body>
    <h1>Registrar Llamada</h1>

    {% if paciente_random %}
        <p class="detalle-paciente">
            <span>Nombre del paciente: {{ paciente_random.nombre }} {{ paciente_random.apellido }}</span>
        </p>
        <p class="detalle-paciente">
            <span>Rut del paciente: {{ paciente_random.rut }}</span>
        </p>
        <p class="detalle-paciente">
            <span>Número de teléfono: {{ paciente_random.numero_telefono }}</span>
        </p>
    {% if ultima_llamada %}
         <p class="detalle-llamada">
             <span> Última llamada registrada: {{ ultima_llamada.fecha }}</span>
         </p>
         <p class="detalle-llamada">
             <span>Resultado última llamada:  {{ ultima_llamada.tipo.nombre }}</span>
         </p>
        {% else %}
            <p class="detalle-llamada">Este paciente aún no tiene llamadas registradas.</p>
        {% endif %}
    {% endif %}

    {% if show_form %}
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="paciente_rut" value="{{ paciente_random.rut }}">
            {{ form.as_p }}
            <button type="submit">Registrar</button>
        </form>
        <a href="{% url 'registrar_llamada' %}" class="btn btn-primary">Generar otro número</a>
    {% else %}
        <form method="post">
            {% csrf_token %}
            <button type="submit" name="generar_llamada">Generar llamada</button>
        </form>
    {% endif %}
<form method="post" id="buscar-paciente-form" action="{% url 'registrar_llamada' %}">
    {% csrf_token %}
    <label for="buscar_rut">Buscar paciente por RUT:</label>
    <input type="text" name="buscar_rut" id="buscar_rut" required>
    <button type="submit" name="buscar_paciente">Buscar</button>
</form>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    {% for tipo, datos in datos_por_tipo.items %}
                        <th>{{ tipo }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ request.user.get_full_name }}</td>
                    {% for tipo, datos in datos_por_tipo.items %}
                        <td>{{ datos.conteo }}</td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>
    <br>
</body>
</html>
