body {
    background-color: #f4f4f9;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #5d5d5d;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

h1, p {
    text-align: left;
}

.carga-masiva, .carga-manual {
    background: white;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 10px 25px 0 rgba(0,0,0,0.1);
    margin-bottom: 20px;
}

.carga-masiva {
    margin-right: 20px;
}

.back-to-menu {
    text-align: center;
    margin-top: 20px;
}

.back-to-menu a {
    text-decoration: none;
    color: #5d5d5d;
}

@media (max-width: 768px) {
    .container {
        max-width: 100%;
        padding: 10px;
    }
}