h1 {
    color: #4b0082;
    text-align: center;
    margin-bottom: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: 20px auto;
}

th, td {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #4b0082;
    color: white;
}

button, .btn.btn-primary {
    background-color: #4b0082;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover, .btn.btn-primary:hover {
    background-color: #372074;
}

form {
    margin: 20px auto;
    width: fit-content;
}

p {
    text-align: center;
    margin: 10px 0;
}
.detalle-paciente {
    font-family: 'Arial', sans-serif;
    margin-bottom: 5px;
    color: #4b0082;
    font-weight: bold
}
.etiqueta-paciente {
    font-weight: bold;
    color: #4b0082;
}
.detalle-llamada {
    font-family: 'Arial', sans-serif;
    margin-bottom: 5px;
    color: #ee6216;
    font-weight: bold
}
.btn-back {
    background-color: #4b0082;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.btn-back:hover {
    background-color: #372074;
}