/* Agrega esto a tu archivo login.css o crea un nuevo archivo de estilos si prefieres separarlos */

/* Estilos para el encabezado */
h1 {
    color: #4b0082; /* Usando el mismo color morado oscuro */
    text-align: center;
    margin-bottom: 20px;
}

/* Estilos para la tabla */
table {
    border-collapse: collapse;
    width: 100%; /* Ajusta al ancho del contenedor */
    margin: 20px auto; /* Centrado y con margen arriba y abajo */
}

th, td {
    border: 1px solid #ddd; /* Borde suave */
    text-align: left;
    padding: 8px;
}

th {
    background-color: #4b0082; /* Fondo morado oscuro para los encabezados de columna */
    color: white; /* Texto blanco para contraste */
}

/* Estilos para los botones */
button, .btn.btn-primary {
    background-color: #4b0082; /* Color de fondo morado oscuro */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover, .btn.btn-primary:hover {
    background-color: #372074; /* Color morado más oscuro al pasar el ratón */
}

/* Estilos para los formularios */
form {
    margin: 20px auto; /* Centrado con margen arriba y abajo */
    width: fit-content; /* Se ajusta al contenido */
}

/* Estilos para los párrafos de información del paciente */
p {
    text-align: center;
    margin: 10px 0;
}
.detalle-paciente {
    font-family: 'Arial', sans-serif; /* O la fuente que prefieras */
    margin-bottom: 5px; /* Espacio debajo de cada línea */
    color: #4b0082;
    font-weight: bold
}
.etiqueta-paciente {
    font-weight: bold; /* Negrita para las etiquetas */
    color: #4b0082; /* Usando el color morado oscuro para destacar */
}
.detalle-llamada {
    font-family: 'Arial', sans-serif; /* O la fuente que prefieras */
    margin-bottom: 5px; /* Espacio debajo de cada línea */
    color: #a134f8;
    font-weight: bold
}
