        body {
            background-color: #f4f4f9;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        .form-container {
            background: white;
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 10px 25px 0 rgba(0,0,0,0.1);
            max-width: 400px;
            margin: 40px auto;
        }
        .form-title {
            font-size: 24px;
            color: #5d5d5d;
            margin-bottom: 30px;
            text-align: center;
        }
        .btn-custom {
            background-color: #4b0082;
            border: none;
            color: white;
            padding: 10px 25px;
            transition: background-color 0.3s ease;
            cursor:pointer;
        }

        .alert {
            font-size: 14px;
        }
         .btn-registro {
            background-color: #4b0082;
            border: none;
            color: white;
            padding: 10px 25px;
            transition: background-color 0.3s ease;
             text-decoration: none;
            cursor:pointer;
        }
         .button-container {
            display: flex;
            justify-content: space-between;
        }

        .btn-custom, .btn-registro {
            width: calc(50% - 10px);
            padding: 10px;
        }

        .btn-custom {
            margin-right: 5px;
        }

        .btn-registro {
            margin-left: 5px;
        }