body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px; /* Espacio debajo del título */
}

form {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px; /* Ajusta al ancho que prefieras */
}

form p {
  margin-bottom: 15px; /* Espacio entre campos */
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="date"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #800080; /* Color púrpura */
  color: white;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px; /* Espacio antes del botón */
}

button:hover {
  background-color: #660066; /* Un púrpura más oscuro para el estado hover */
}
