<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../static/styles/registrar_llamada.css">
    <title>Cargar Pacientes</title>
</head>
<body>
<h1>Cargar Pacientes</h1>
<p>Para realizar la carga masiva de pacientes debe realizarlo desde un archivo excel colocando en la parte superior de cada columna "Nombre", "Apellido", "Numero de teléfono"
</p>

{% block content %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <p>Seleccione el archivo CSV con los datos de los pacientes:</p>
    <input type="file" name="csv_file" accept=".csv">
    <button type="submit">Cargar</button>
</form>
    <h1>Agregar Paciente de Forma Manual</h1>
<form method="post" novalidate>
    {% csrf_token %}
    {{ paciente_form.as_p }}
    <button type="submit">Guardar Paciente</button>
</form>
{% endblock %}
<div class="back-to-menu">
    <a href="{% url 'menu_principal' %}" class="btn-back">Volver al Menú Principal</a>
</div>

</body>
</html>


