<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/registrar_llamada.css' %}">
    <title>Pacientes 'No volver a llamar'</title>
</head>
<body>
{% block content %}
    <h1>Pacientes marcados como 'No volver a llamar'</h1>

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>RUT</th>
                <th>Número de Teléfono</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for paciente in pacientes_inactivos %}
            <tr>
                <td>{{ paciente.nombre }} {{ paciente.apellido }}</td>
                <td>{{ paciente.rut }}</td>
                <td>{{ paciente.numero_telefono }}</td>
                <td>
                    <form method="post" action="{% url 'pacientes_no_llamar' %}">
                        {% csrf_token %}
                        <input type="hidden" name="rut_paciente" value="{{ paciente.rut }}">
                        <input type="submit" value="Reactivar" />
                    </form>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">No hay pacientes marcados como 'No volver a llamar'.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
<div class="back-to-menu">
    <a href="{% url 'menu_principal' %}" class="btn-back">Volver al Menú Principal</a>
</div>
</body>
</html>
