{% load my_filters %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Revisar Llamadas</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/styles/revisar_llamadas.css">
</head>
<body>

<form method="get" action="">
    <label for="fecha_desde">Desde:</label>
    <input type="date" id="fecha_desde" name="fecha_desde" value="{{ request.GET.fecha_desde }}">

    <label for="fecha_hasta">Hasta:</label>
    <input type="date" id="fecha_hasta" name="fecha_hasta" value="{{ request.GET.fecha_hasta }}">
    <button type="submit">Filtrar</button>
</form>
<table border="1">
    <thead>
        <tr>
            <th>Asistente</th>
            {% for tipo in tipos_llamadas %}
                <th>{{ tipo.nombre }}</th>
            {% endfor %}
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        {% for usuario in usuarios %}
        <tr>
            <td>{{ usuario.nombre_completo }}</td>
            {% for tipo in tipos_llamadas %}
                <td>{{ usuario.conteos|get:tipo.nombre }}</td>
            {% endfor %}
            <td>{{ usuario.total }}</td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td>Total General</td>
            {% for tipo in tipos_llamadas %}
                <td></td>
            {% endfor %}
            <td>{{ total_general }}</td>
        </tr>
    </tfoot>
</table>
<tfoot>
    <tr>
        <td>Total General de</td>
        <td>{{ total_general }}</td>
    </tr>
    <tr>
        <td>llamadas tenemos un porcentaje de Éxito del</td>
        <td>{{ porcentaje_exito|floatformat:2 }}%</td>
    </tr>
</tfoot>

<canvas id="myChart" ></canvas>
<script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: [
                {% for tipo in tipos_llamadas %}'{{ tipo.nombre }}'{% if not forloop.last %},{% endif %}{% endfor %}
            ],
            datasets: [{
                label: 'Número de Llamadas por Tipo',
                data: [
                    {% for tipo in tipos_llamadas %}{{ total_por_tipo|get:tipo.nombre }}{% if not forloop.last %},{% endif %}{% endfor %}
                ],
                backgroundColor: [
                    'rgba(115,9,182,0.2)',

                ],
                borderColor: [
                    'rgb(3,12,131)',

                ],
                borderWidth: 1
            }]
        },
        options: {

        }
    });
</script>
<div class="back-to-menu">
    <a href="{% url 'menu_principal' %}" class="btn-back">Volver al Menú Principal</a>
</div>
</body>
</html>
