{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registro Llamadas - Kinder Sonrisa</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/login.css' %}">
</head>
<body>

<div class="container">
    <div class="form-container">
        <div class="image-container">
            <img src="{% static 'images/images.png' %}" alt="Descripción de la imagen">
        </div>
        <div class="form-title">Iniciar Sesión</div>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="button-container">
                <button type="submit" class="btn btn-custom">Iniciar sesión</button>
                <a href="{% url 'registro' %}" class="btn btn-registro">Registrarse</a>
            </div>
        </form>
        {% if messages %}
            <div class="messages mt-4">
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</div>

</body>
</html>
