<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Menú Principal</title>
    <link rel="stylesheet" type="text/css" href="../static/styles/menu_principal.css">
</head>
<body>
<h1>Menú Principal</h1>
{% if user.is_authenticated %}
  <ul>
    {% if is_supervisor %}
      <li><a href="{% url 'revisar_llamadas' %}">Revisar llamadas realizadas</a></li>
      <li><a href="{% url 'gestionar_tipos_llamada' %}">Gestionar tipos de llamadas</a></li>
      <li><a href="{% url 'cargar_pacientes' %}">Carga masiva de pacientes</a></li>
    {% else %}
      <li><a href="{% url 'registrar_llamada' %}">Registro de llamadas</a></li>
    {% endif %}
  </ul>
{% endif %}

<a href="{% url 'logout' %}" class="btn-logout">Salir</a>

</body>
</html>

